body {
    margin: auto;
    font-size: 18px;
    font-family: 'Athiti', sans-serif;
    background : linear-gradient( #ebe3db, white 1%);
}

a {
    color: black;
    text-decoration: none;
}

main {
    width : 1440px;
    margin: auto;
    margin-bottom: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Merienda', cursive;
}

h1 {
    font-size : 1.6em;
}

/* espace header */

header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;

}
nav {
    width: 50%;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    width : 50%;
}
.logo1 {
    height: 150px;
}

.fa-asterisk {
    color : #950000;
    margin : 5px 10px 5px 10px;
}

.home {
    border : 2px solid #ebe3db;
    background-color: #ebe3db;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : black;
    font-weight: bold;
}

.home1 {
    border : 2px solid #4c4343;
    background-color: #4c4343;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : white;
    font-weight: bold;
}

nav {
    width: 50%;
    text-align: center;
}

nav > button {
    margin-right: 15px;
    margin-left : 15px;
}

.transition {
    transition: background-color 3s;
}

.transition:hover {
    background-color : red;
    
}

.transitionColor {
    transition : color 3s;
}

.transitionColor:hover {
    color : White;
}

h2, h3, h4 {
    text-align: center;
}


.video {
    text-align: center;
}

/* espace grid */

.fond {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap : 10px;
    background-color : #ebe3db;
    padding : 10px 10px 10px 10px;
}

.grid1 {
    grid-column : 1/2;
    grid-row : 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grid2 {
    grid-column : 2/3;
    grid-row : 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grid3 {
    grid-column: 1/2;
    grid-row : 2;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grid4 {
    grid-column : 2/3;
    grid-row : 2;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grid1 > p, .grid2 > p, .grid3 > p, .grid4 > p {
    text-align: center;
    font-weight: bold;
}

/* espace footer */

footer {
    margin : 0;
    background-image: url(ressources/images/footer-bg.jpg); 
    background-size: contain;
    width: 100%;
}

.foot {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.foot > div {
    max-width: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color : white;
    
}

.foot > div > h4 {
    border-bottom : dashed 2px white;
    padding-bottom : 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.media > i {
    padding : 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
}

/* espace responsive */

@media screen and (max-width : 1150px){

    header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;
        width : 100%;
    }

    nav {
        background-color: #ebe3db;
        width: 100%;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    nav > button {
        margin-right: 50px;
        margin-left: 50px;
    }

    body {
        max-width: 100%;
    }

    main {
        max-width: 100%;
    }

    video {
        max-width: 80%;
    }

    .grid1 > img, .grid2 > img, .grid3 > img, .grid4 > img {
        width: 100%;
    }


}

@media screen and (max-width : 780px){

    @media screen and (max-width: 780px){

        nav {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        nav > .home1, nav > .home {
            width: 100%;
            border : 1px black solid;
            margin: 0;
        }
    
        header {
            margin-top: 30px;
        }

        .logo {
            width : 100%;
        }
    
        .foot {
            display: flex;
            flex-direction: column;
            width: 100%;
    
        }
    
        .foot > div {
            width: 100%;
            margin: auto;
        }
    
        .fond {
            display: flex;
            flex-direction: column;
        }
    }
}