body {
    margin: auto;
    font-size: 18px;
    max-width: 100%;
    font-family: 'Athiti', sans-serif;
    background : linear-gradient( #ebe3db, white 1%);
}

a {
    color: black;
    text-decoration: none;
}
main {
    width : 1440px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Merienda', cursive;
}

header {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;

}

.logo {
    display: flex;
    align-items: center;
}
.logo1 {
    height: 150px;
}

.fa-asterisk {
    color : #950000;
    margin : 5px 10px 5px 10px;
}

.home {
    border : 2px solid #ebe3db;
    background-color: #ebe3db;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : black;
    font-weight: bold;
}

.reserve {

    border : 2px solid #4c4343;
    background-color: #4c4343;
    padding : 15px 15px 15px 15px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color : white;
    font-weight: bold;

}

.home1 {
    border : 2px solid #4c4343;
    background-color: #4c4343;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : white;
    font-weight: bold;
}

nav > button {
    margin-right: 15px;
    margin-left : 15px;
}

.transition {
    transition: color 3s;
    transition: background-color 3s;;
}

.transition:hover {
    background-color : red;
    color : white;
    
}

h2, h3, h4 {
    text-align: center;
}

form {
    background-color: #ebe3db;
    width: 80%;
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    padding-top: 10px;
}

article {
    display: flex;
    width: 100%;
    padding: 15px 15px 15px 25px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 30px;

}

.textarea {
    width: 80%;
    height: 200px;
    margin: auto;

}

textarea {
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
}

iframe {
    width: 90%;
    height: 300px;
    margin-top: 30px;
}








footer {
    margin : 0;
    background-image: url(ressources/images/footer-bg.jpg); 
    background-size: contain;
    width: 100%;
}

.foot {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.foot > div {
    max-width: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color : white;
    
}

.foot > div > h4 {
    border-bottom : dashed 2px white;
    padding-bottom : 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.media > i {
    padding : 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
}

@media screen and (max-width : 980px) {
    
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        background-color: #ebe3db;
        justify-content: space-between;
        margin-bottom: 30px;
        text-align: center;
    }

    nav > button {
        width: 20%;
    }

    main {
        width: 100%;
    }
}

@media screen and (max-width: 780px){

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav > .home1, nav > .home {
        width: 100%;
        border : 1px black solid;
        margin: 0;
    }

    header {
        margin-top: 30px;
    }

    .foot {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .foot > div {
        width: 100%;
        margin: auto;
    }


}