body {
    margin: auto;
    font-size: 18px;
    font-family: 'Athiti', sans-serif;
    background : linear-gradient( #ebe3db, white 1%);
}

a {
    color: black;
    text-decoration: none;
}

main {
    width : 1440px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    
}

h1, h2, h3, h4 {
    font-family: 'Merienda', cursive;
}

h2, h3, h4 {
    text-align: center;
}

h1 {
    font-size : 1.6em;
}

/*espace header */

header {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    width : 50%;
}
.logo1 {
    height: 150px;
}

.fa-asterisk {
    color : #950000;
    margin : 5px 10px 5px 10px;
}

.home {
    border : 2px solid #ebe3db;
    background-color: #ebe3db;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : black;
    font-weight: bold;
}

.home1 {
    border : 2px solid #4c4343;
    background-color: #4c4343;
    padding : 15px 15px 15px 15px;
    font-size: 16px;
    color : white;
    font-weight: bold;
}

nav {
    width : 50%;
}

nav > button {
    margin-right: 15px;
    margin-left : 15px;
}

.transition {
    transition: background-color 3s;
    
}

.transition:hover {
    background-color : red;    
}

.transitionColor {
    transition: color 3s;
}

.transitionColor:hover {
    color : white;
}

/*espace filtre */

.choose > button {
    margin-left: 5px;
    margin-right: 5px;
}

.image {
    width: 100%;
    height: 100%;
    transition : all .2s;
}

.image:hover {
    transform : scale(1.2);
}
.parent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1em;
    row-gap: 3em;
    background-color: rgb(226, 226, 226);
    padding: 3em 1em;
    margin-top : 20px;
}

.parent div {
    width : 30%;
}

.imgFiltre {
    width: 100%;
    height: auto;
    transition : all.2s;
}

.imgFiltre:hover {
    transform : scale(1.3);
}

/*espace grid */

.grille {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap : 10px;
    background-color : #ebe3db;
    grid-auto-rows: minmax(100px, auto);
    padding : 10px 10px 30px 10px;
    margin-top : 20px;
}

.grid1 {
    grid-column: 1/2;
    grid-row: 1;
    max-width: 100%;
}

.grid2 {
    grid-column: 2/3;
    grid-row : 1;
    max-width: 100%;
}

.grid3 {
    grid-column : 3/4;
    grid-row : 1;
    max-width : 100%;
}

/* espace footer */


footer {
    margin : 0;
    background-image: url(ressources/images/footer-bg.jpg); 
    background-size: contain;
    width: 100%;
}

.foot {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.foot > div {
    max-width: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color : white;
    
}

.foot > div > h4 {
    border-bottom : dashed 2px white;
    padding-bottom : 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.media > i {
    padding : 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
}

/* espace responsive */

@media screen and (max-width : 1150px){

    header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;
        width : 100%;
    }

    nav {
        background-color: #ebe3db;
        width: 100%;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    nav > button {
        margin-right: 50px;
        margin-left: 50px;
    }

    body {
        max-width: 100%;
    }

    main {
        max-width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu > .meat, .menu > .fish, .menu > .vegetarian {
        width: 100%;
        max-width: 100%;
    }

    .meat > p, .fish > p, .vegetarian > p{
        border-bottom : 1px dashed black;
    }
}


    @media screen and (max-width: 780px){

        nav {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        nav > .home1, nav > .home {
            width: 100%;
            border : 1px black solid;
            margin: 0;
        }

        .logo {
            width: 100%;
        }
    
        header {
            margin-top: 30px;
        }
    
        .foot {
            display: flex;
            flex-direction: column;
            width: 100%;
    
        }
    
        .foot > div {
            width: 100%;
            margin: auto;
        }

        .welcome {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }

        .welcome > div, .welcome > img {
            width: 95%;
            margin: auto;
        }
    }

